/* Add your code in each class */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(37, 15, 57);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.movie-card {
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: relative;
}
.movie-image {
  width: 250px;
  position: absolute;
}

.movie-details-container {
}
.descriptions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: aliceblue;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}
